---
apiVersion: admissionregistration.k8s.io/v1
kind: ValidatingWebhookConfiguration
metadata:
  name: validating-webhook-configuration
webhooks:
- admissionReviewVersions:
  - v1
  clientConfig:
    service:
      name: webhook-service
      namespace: system
      path: /validate-apps-kubeblocks-io-v1alpha1-addon
  failurePolicy: Fail
  name: vaddon.kb.io
  rules:
  - apiGroups:
    - apps.kubeblocks.io
    apiVersions:
    - v1alpha1
    operations:
    - CREATE
    - UPDATE
    resources:
    - addons
  sideEffects: None
